---
layout: home
---


<div class="home_list_wrapper">
  
  <a href="/posts">
    <h1 class="home_title">Recent Posts</h1>
  </a>
  
  <ul class="home_posts_list">
    {% for post in site.posts limit:5  %}
      <a href="{{ post.url | relative_url | remove: ".html"}}">
        <li class="home_item_post">
          <span class="home_post_title">{{ post.title }}</span>
          <time datetime="{{post.date | date: "%Y-%m-%d"}}">{{post.date | date: "%Y-%m-%d"}}</time>
        </li>
      </a>
    {% endfor %}
  </ul>

  <div class="btn_container">
    <a class="home_readmore button" href="/posts">Read More</a>
  </div>

</div>


{% for category_main in site.category_main %}
<div class="home_list_wrapper">
  <a href="/category/{{ category_main | url_encode }}">
    <h1 class="home_title">{{ category_main }}</h1>
  </a>

  <ul class="home_posts_list">
    {% assign category_posts = site.posts | where: 'categories', category_main %}
    {% for post in category_posts limit:5 %}
      <a href="{{ post.url | relative_url | remove: ".html"}}">
        <li class="home_item_post">
          <span class="home_post_title">{{ post.title }}</span>
          <time datetime="{{post.date | date: "%Y-%m-%d"}}">{{post.date | date: "%Y-%m-%d"}}</time>
        </li>
      </a>
    {% endfor %}
  </ul>

  <div class="btn_container">
    <a class="home_readmore button" href="/category/{{ category_main | url_encode }}">Read More</a>
  </div>

</div>
{% endfor %}