body {
    margin: 0;
    background: #EEE;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

section, footer {
    max-width: 800px;

    margin: 0 auto;
    background: white;
}

ul {
    list-style: none;
}

strong, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}