// Colors
$primary-color: #3CF;
$font-color: white;

// Font Weights
$font-weights: (
  text: 300,
  regular: 400,
  bold: 500,
  black: 700
);

@mixin font-weight($weight) {
  font-weight: map-get($font-weights, $weight);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    @include font-weight(regular);
}

section, footer {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

strong, h1, h2, h3, h4, h5, h6 {
    @include font-weight(bold);
}

h2 {
    font-size: 1.5rem;
    margin-top: 2.5rem;
}

h3 {
    font-size: 1.25rem;
    margin-top: 2rem;
}

em {
    font-size: 0.9rem;
}

sub {
    font-size: 0.8rem;
}

hr {
    margin: 2rem 0;
}

time {
    flex-shrink: 0;
}

a:not(#post-content a, #page-content a, #tag-page-tag-list a,
      .toc_post a:hover, .btn_container a) {
    color: inherit;
    text-decoration: none;
}

ul:not(#post-content ul, #page-content ul) {
    list-style: none;
}

ul:not(#post-content ul, #page-content ul, #related-post ul) {
    padding: 0;
}

summary {
    cursor: pointer;
}

.btn_container {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
