body {
    margin: 0;
    background: #EEE;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

section, footer {
    max-width: 800px;

    margin: 0 auto;
    background: white;
}

ul {
    list-style: none;
}

strong, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h2 {
    font-size: 1.35rem;
}

h3 {
    font-size: 1.25rem;
}

hr {
    margin: 2rem 0;
}

a:not(.page a, .content a, .tag a) {
    color: inherit;
    text-decoration: none;
}

.icon {
    width: 40px;
}
