footer {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

footer ul {
    display: table;
    width: 25%;
    min-width: 150px;
    margin: 0 auto;
    padding: 0;
}

footer li {
    display: table-cell;
    text-align: center;
}

#copyright {
    text-align: center;
}