footer {
    padding-top: 5%;
}

footer ul {
    display: table;
    width: 25%;
    margin: 0 auto;
    padding: 0;
}

footer li {
    display: table-cell;
    text-align: center;
}

#copyright {
    font-family: 'Noto Sans KR';
    text-align: center;
    margin: 0;
}