header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 25%;
    text-align: center;

    background-color: #3CF;
}


//#region    -------- Icon --------
#header-icon-list {
    display: flex;
    flex-direction: row-reverse;

    margin: 0;
}

.icon_item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 75px;
    height: 75px;
}
//#endregion -------- Icon --------


//#region    -------- Title --------
#top-title {
    width: 100%;
    margin-top: 2rem;
    display: inline-block;
}

#top-title a {
    text-align: center;
    font-family: 'Trocchi', serif;
    font-size: 6rem;
}
//#endregion -------- Title --------


//#region    -------- Menu --------
.top_menu ul {
    display: flex;
    justify-content: space-around;
    min-width: 360px;
    width: 30%;

    margin: auto;
    padding: 0;

    overflow: auto;
    list-style: none;
}

.top_menu li {
    padding: 1.5rem 0;

    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}
//#endregion -------- Menu --------
