section {
    padding: 1% 0;
}

.wrapper:not(.post, .related_post) {
    padding: 3% 7.5%;
}

.title:not(.post) { 
    font-weight: 700;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.post_title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;

    width: 80%;
    min-width: 280px;
}

.preview {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    
    margin-top: 0.25rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    color: #888;
}

.preview p {
    margin: 0;
}


//#region    -------- Home --------
.home.post_wrapper {
    margin: 3rem 0;
}

.home.title {
    display: inline-block;
    margin: 0;

    font-size: 2.5rem;
}

.home.list {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    padding-left: 1rem;
}

.home.item {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}
//#endregion -------- Home --------


//#region    -------- Category --------
.category.title {
    text-align: center;
    font-size: 3.5rem;
}

.category.list {
    padding-left: 1rem;
}

.category.item {
    overflow: hidden;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.category.preview {
    flex: 100%;
}
//#endregion -------- Category --------


//#region    -------- css for mobile --------
@media only screen and (max-width: 640px) {
    .home.date, .category.date {
        display: none;
    }
}
//#endregion -------- css for mobile --------

