#post-wrapper {
    margin-top: 3rem;
    @include font-weight(text);
}

#post-header, #post-content, #nav-toc {
    padding: 0 5%;
}

//#region    -------- Meta Content --------
.post {
    margin: 1rem 0;
    @include font-weight(text);
}

#post-header {
    font-size: 0.9rem;
}

#post-information {
    text-align: center;
}

#post-title {
    font-size: 2.5rem;
    @include font-weight(bold);
    word-break: keep-all;
}

#post-date, #post-meta {
    color: #777;
}

.post_meta_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.post_meta_item {
    padding: 0 0.25rem;
    text-decoration: underline;
}
//#endregion -------- Meta Content --------


//#region    -------- ToC --------
#nav-toc {
    margin: 2rem 0;
    font-size: 0.9rem;
}

.toc_post {
    color: black;
    text-decoration: none;
    line-height: 175%;
}

.toc_post > a:hover {
    @include font-weight(bold);
    color: #09e;
    text-decoration: underline;
}

@for $i from 1 to 6 {
    .toc_level#{$i} {
      margin-left: 1rem * $i;
    }
  }
  
.nav_post > a {
    color: #09e;
    text-decoration: none;
}

.nav_post > a:hover {
    text-decoration: underline;
}
//#endregion -------- ToC --------


//#region    -------- Content --------
#post-content {
    margin-top: 2rem;
    padding-bottom: 5rem;
    word-break: keep-all;
    word-wrap: break-word;
    border-top: 5px double darkgray;
    border-bottom: 5px double darkgray;
}

#post-content img {
    max-width: 100%;
    height: auto;
}

#post-content .figure_image {
    text-align: center;
}

#post-content .figure_image figcaption {
    margin-top: 0.5rem;
    text-align: center;
}

#post-content a:not(.toc_post a, .nav_post a) {
    color: #039;
    @include font-weight(regular);
}

#post-content .highlight {
    overflow-x: auto;
    margin: 0;
}

// pre does not inherit font-family
#post-content .highlight pre, code {
    font-family: 'D2Coding';
    @include font-weight(regular);
    font-size: 0.9rem;
}

#post-content blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

.table_content {
    display: block;
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
    font-size: 0.9rem;
}

.table_content tr {
    background-color: #fff;
    border-top: 1px solid #cfcfcf;
}

.table_content thead th {
    border: 1px solid #afafaf;
    padding: 0.4rem 1rem;
}

.table_content td {
    border: 1px solid #cfcfcf;
    padding: 0.4rem 0.8rem;
}

.triangle_list {
    list-style-type: disclosure-closed;
}
//#endregion -------- Content --------


//#region    -------- Reference area --------
#reference-wrapper {
    margin-top: 10rem;
    border-top: 2px solid darkgray;
}

#post-reference-list {
    padding-left: 1rem;
    list-style: none;
}

#post-reference-list > li {
    margin-bottom: 0.2rem;
}
//#endregion -------- Reference area --------


//#region    -------- Related Posts --------
#related-post {
    margin: 3rem 0;
}

#related-post-list-wrapper {
    position: relative;
}

#related-post-list {
    display: flex;
    list-style: none;
    padding: 0.5rem 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
}

#related-post-list > a {
    margin: 0 1rem;
}

.related_post_wrapper {
    padding: 1rem;
    width: 14rem;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #e6e6e6;
    transition: 0.3s;
}

.related_post_wrapper:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

.related_post_title {
    @include font-weight(bold);
    text-align: left;
}

.related_post_content {
    padding: 0 0.4rem;
    font-size: 0.85rem;
    @include font-weight(text);
    color: #333;
}

.related_post_btn {
    position: absolute;
    top: calc(50% - 2.5rem);
    cursor: pointer;
    background: transparent;
    border-radius: 7px;
    height: 5rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.related_post_btn:hover {
    background-color: whitesmoke;
    transform: scale(1.1);
}

#btn-related-post-left {
    left: 0;
}

#btn-related-post-right {
    right: 0;
}
//#endregion -------- Related Posts --------
