#page-information {
  margin: 3rem 0;
  text-align: center;
}

#page-title {
  font-size: 2.5rem;
  @include font-weight(bold);
  word-break: keep-all;
}

#page-content a {
  color: #039;
  @include font-weight(regular);
}
