section {
    padding: 1% 2rem;
}

#home-wrapper {
    padding: 3% 7.5%;
}

.center_title {
    font-size: 3.5rem;
    text-align: center;
    @include font-weight(black);
    margin-bottom: 3.5rem;
}

//#region    -------- Tag Posts --------
.post_title {
    word-break: keep-all;
    font-size: 1.5rem;
    @include font-weight(bold);
}

.item_post {
    overflow: hidden;
    margin-bottom: 2rem;
}

.list_post_meta {
    display: flex;
    justify-content: space-between;
}

.list_post_meta .category_list {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
}

.list_post_meta .category_list > li {
    color: white;
    box-sizing: border-box;
    background: #cfcfcf;
    border-radius: 3px;
    @include font-weight(regular);
    padding: 0.2rem 0.4rem;
    margin: 0.25rem;
}

.list_post_meta time {
    color: #828282;
}

.post_preview {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    margin-top: 0.25rem;
    margin-left: 1rem;
    @include font-weight(text);
}

.post_preview p {
    margin: 0;
}
//#endregion -------- Tag Posts --------

//#region    -------- Home --------
.home_list_wrapper {
    margin: 3rem 0;
}

.home_title {
    display: inline;
    font-size: 2.5rem;
    @include font-weight(black);
}

.home_posts_list {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 1rem !important;
}

.home_item_post {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    word-break: keep-all;
    display: flex;
    justify-content: space-between;
}

.home_readmore.button {
    width: 15rem;
    height: 2.25rem;
    border-radius: 10px;
    color: white;
    background-color: #E0E0E0;
    font-size: 0.9rem;
    @include font-weight(bold);
    text-decoration: none;
    transition: 0.25s;
}

.home_readmore.button:hover {
    background-color: #3c3c3c;
}
//#endregion -------- Home --------

//#region    -------- Category --------
.category_name {
    margin: 0;
}

.category.list {
    padding-left: 1rem;
}
//#endregion -------- Category --------

//#region    -------- Tag --------
.tags_list a {
    color: #555;
}

#tag-page-tag-list > li {
    display: inline-block;
    margin-right: 0.5rem;
}

.tag_title {
    font-size: 2.5rem;
}
//#endregion -------- Tag --------

//#region    -------- Adsense --------
#adsense-top, #adsense-bot {
    margin: 2rem 0;
}
//#endregion -------- Adsense --------
