<header>
    <ul id="header-icon-list">
        <li class="icon_item">
            <a class="icon_wrap" href="{{site.github}}" title="GitHub" target="_blank">
                <img id="icon-github" class="icon" src="{{ '/assets/icons/github.svg' | relative_url }}"></img>
            </a>
        </li>
    </ul>
    <div id="top-title">
        <a href="/" title="Home">GiGong</a>
    </div>
    <nav class="top_menu">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/Category">Category</a></li>
            <li><a href="/tags">Tag</a></li>
        </ul>
    </nav>
</header>