<header>
    <ul id="icon-list">
        <li class="icon_item">
            <div class="icon_wrap">
                <img id="icon-github" class="icon" src="{{ '/assets/icons.svg#github' | relative_url }}" alt="github icon" width="40" height="40"/>
            </div>
        </li>
        <li class="icon_item">
            <div class="icon_wrap">
                <img id="icon-mail" class="icon" src="{{ '/assets/icons.svg#mail' | relative_url }}" alt="mail icon" width="40" height="40"/>
            </div>
        </li>
    </ul>
    <h1>GiGong</h1>
    <nav class="top_menu">
        <ul>
            <li>WPF</li>
            <li>Programming</li>
            <li>C#</li>
        </ul>
    </nav>
</header>