<header>
    <ul id="icon-list">
        <li class="icon_item">
            <a class="icon_wrap" href="https://github.com/GiGong" title="GitHub" target="_blank">
                <svg id="icon-github" class="icon" viewbox="0 0 100 100"><use xlink:href="{{ '/assets/icons.svg#github' | relative_url }}"></use></svg>
            </a>
        </li>
    </ul>
    <div id="top-title">
        <a href="/" title="Home">GiGong</a>
    </div>
    <nav class="top_menu">
        <ul>
            <li><a href="/wpf">WPF</a></li>
            <li><a href="/category">Category</a></li>
            <li><a href="/c%23">C#</a></li>
        </ul>
    </nav>
</header>