<script id="template-toc-nav" type="text/template"><div class="toc_post"><a href="#{nav-id}">{nav-content}</a></div></script>
<script defer>
    const nav_posts = document.getElementsByClassName("nav_post");
    if (nav_posts.length === 0)
    {
        document.getElementById("nav-toc").remove();
    } else {
        let resultHTML = "목차";
        const template = document.getElementById("template-toc-nav").innerHTML;
        for (let nav_post of nav_posts) {
            resultHTML += template.replace("{nav-id}", nav_post.id)
                .replace("{nav-content}", nav_post.textContent);
        }
        document.getElementById("nav-toc").innerHTML = resultHTML;
    }
</script>