<footer>
    <ul id="footer-icon-list">
        <li>
            <a href="{{site.github}}" title="GitHub" target="_blank"><img class="icon"
                    src="{{ '/assets/icons/github.svg' | relative_url }}" alt="Github"></a></li>
        <li>
            <a href="mailto:{{site.email}}" title="email"><img class="icon"
                    src="{{ '/assets/icons/email.svg' | relative_url }}" alt="Email"></a></li>
    </ul>
    <p id="copyright">© 2019 GIGONG. ALL RIGHTS RESERVED.</p>
</footer>