<header>
  <ul id="header-icon-list">
    <li class="icon_item">
      <a href="{{site.tistory}}" title="Tistory" target="_blank">
        <img id="icon-tistory" class="icon" alt="tistory" src="{{ '/assets/icons/tistory.svg' | relative_url }}"></img>
      </a>
    </li><li class="icon_item">
      <a href="{{site.github}}" title="GitHub" target="_blank">
        <img id="icon-github" class="icon" alt="github" src="{{ '/assets/icons/github.svg' | relative_url }}"></img>
      </a>
    </li>
  </ul>
  <div id="top-title">
    <a href="/" title="Home">GiGong</a>
  </div>
  <nav id="top-menu">
    <ul>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/category">Category</a></li>
      <li><a href="/tags">Tag</a></li>
    </ul>
  </nav>
</header>