---
layout: default
---

<div class="post wrapper">
    <div class="post information">
        <h1 id="post-title" class="post title">{{ page.title | newline_to_br}}</h1>
        <p class="post date">{{ page.date | date: "%Y-%m-%d" }}</p>
        <div class="post meta">
            <div class="category">
                category:
                {% for category in page.categories %}
                <a href="/category/{{ category | url_encode }}">{{ category }}</a>
                {% endfor %}
            </div>
            <div class="tags">
                tag [
                {% for tag in page.tags %}
                <a href="/tags/posts#{{ tag }}">{{ tag }},</a>
                {% endfor %}
                ]
            </div>
        </div>
    </div>
    <div id="adsense_top"></div>

    <div class="post content">
        <nav id="nav-toc"></nav>
        {{content}}
    </div>

    {% include toc_gen.html %}
    {% include anchor_new_tab.html %}

    <div class="post related_posts">
        <h1>Related Posts</h1>
        <div class="post_list">
            {% for post in site.related_posts %}
            <a href="{{ post.url | absolute_url | remove: ".html"}}">
                <div class="related_post wrapper">
                    <div class="related_post title">{{ post.title }}</div>
                    <div class="related_post content">
                        <p>{{ post.excerpt | strip_html }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="post comment"></div>
</div>