---
layout: default
---

<div id="post-wrapper">
  <div id="post-header">
    <div id="post-information">
      <h1 id="post-title">{{ page.title | newline_to_br}}</h1>
      <p id="post-date"><time datetime="{{ page.date | date: "%Y년 %m월 %d일" }}">{{ page.date | date: "%Y년 %m월 %d일" }}</time></p>
    </div>
    <div id="post-meta">
      <ul class="post_meta_list">
        category:
        {% for category in page.categories %}
          <li class="post_meta_item"><a href="/category/{{ category | url_encode }}">{{ category }}</a></li>
        {% endfor %}
      </ul>
      <ul class="post_meta_list">
        tag [
        {% for tag in page.tags %}
          <li class="post_meta_item"><a href="/tags/posts#{{ tag }}">{{ tag }},</a></li>
        {% endfor %}
        ]
      </ul>
    </div>
  </div>

  <div id="adsense-top">
    <div id="adsense-top-wrapper">
      {% include services/google_adsense_horizontal_1.html %}
    </div>
  </div>

  <nav id="nav-toc"></nav>
  <div id="post-content">
    {{content}}

    <div id="reference-wrapper">
      <h3>참고자료 (References)</h3>
    </div>
  </div>

  {% include releated_posts.html %}

  <div id="adsense-bot">
    <div id="adsense-bot-wrapper">
      {% include services/google_adsense_horizontal_2.html %}
    </div>
  </div>

  <div id="post-comment">
    <script src="https://giscus.app/client.js"
      data-repo="GiGong/gigong.github.io_comments"
      data-repo-id="MDEwOlJlcG9zaXRvcnkzOTU1NDA0MDU="
      data-category="Comments"
      data-category-id="DIC_kwDOF5N3tc4CZLMG"
      data-mapping="pathname"
      data-strict="1"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="preferred_color_scheme"
      data-lang="ko"
      data-loading="lazy"
      crossorigin="anonymous"
      async>
    </script>  
</div>
</div>

{%- comment -%} script files {%- endcomment -%}
{% include post_function/toc_gen.html %}
{% include post_function/anchor_new_tab.html %}
<script src="/assets/js/related_post_list_scroll_button.js" defer></script>
